body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

#game {
	width: 100%;
	height: 100%;
	position: absolute;
}

#ui {
	width: 100%;
	height: 100%;
	position: absolute;
}

@font-face {
	font-family: 'WarElite';
	src: local('WarElite'), url(@/assets/WarElite.ttf) format('truetype');
}
